﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SillCo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("SillCo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link active" })
                @Html.ActionLink("Pathfinder", "Index", "Pathfinder", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Character", "Index", "Character", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Jobs", "Jobs", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Tools", "Index", "Tool", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Weapons", "Index", "Equipment", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Armor", "Index", "Equipment", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Other", "Index", "Equipment", new { area = "" }, new { @class = "nav-item nav-link" })
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
