﻿@{
    ViewBag.Title = "About";
}
<h2>Sentinel Securities</h2>
<h3>Mission protocols</h3>
<ol>
    <li>No jobs are cake jobs.</li>
    <li>Expect the worst always.</li>
    <li>If something can go wrong, it will, at the worst time possible.</li>
    <li>Destroy all radios upon loss.</li>
    <li>Poop before the mission.</li>
    <li>Respect the pit.</li>
    <li>Fear the pit.</li>
</ol>
<h3>Flares</h3>
<ul>
    <li>Red - Area hot, require extraction</li>
    <li>Green: Area safe, require extraction</li>
    <li>Blue: Area hot, require support</li>
    <li>Black: Man down, require medical and support</li>
    <li>White: Strictly locational reference</li>
</ul>
<h3>Comms code words</h3>
<ul>
    <li>We are hacked: Breakfast is done. Get the toast out of the oven.</li>
    <li>Relative locations: Reference as per clock from local landmarks (incluing people)</li>
    <li>Radio silence: Pool's closed.</li>
</ul>

