﻿@model SillCo.Models.Characters.CharacterModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name) - @Html.DisplayFor(model => model.Profession)</h2>

<div>
    <div class="row">
        <dl class="row col-4">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nationality)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Nationality)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Gender)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Gender)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EyeColor)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.EyeColor)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.HairColor)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.HairColor)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Height)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Height)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Weight)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Weight)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Handedness)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Handedness)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Age)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Age)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.XP)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.XP)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.XPSpent)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.XPSpent)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Year)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Year)</dd>

            <h4 class="col-sm-12">Perks and Flaws</h4>
            @foreach (var perk in Model.Perks)
            {
                <dt class="col-sm-8">@Html.DisplayFor(p => perk.Name)</dt>
                <dd class="col-sm-4">@Html.DisplayFor(p => perk.Modifier)</dd>
                @*<dd class="col-sm-6">@Html.DisplayFor(p => perk.Desc)</dd>*@
            }

            @foreach (var flaw in Model.Flaws)
            {
                <dt class="col-sm-8">@Html.DisplayFor(f => flaw.Name)</dt>
                <dd class="col-sm-4">@Html.DisplayFor(f => flaw.Modifier)</dd>
                @*<dd class="col-sm-6">@Html.DisplayFor(f => flaw.Desc)</dd>*@
            }

            <h4 class="col-sm-12">Languages</h4>
            @foreach (var lang in Model.Languages)
            {
                <dd class="col-sm-12">@Html.DisplayFor(l => lang.Name)</dd>
            }
        </dl>
        <dl class="row col-8">
            <h4 class="col-sm-12">Skills</h4>

            <dt class="col-sm-3">Name</dt>
            <dt class="col-sm-3">Attribute</dt>
            <dt class="col-sm-1">Skill</dt>
            <dt class="col-sm-2">Complexity</dt>
            <dt class="col-sm-3">Specialization</dt>

            @foreach (var skill in Model.Skills)
            {
                <dd class="col-sm-3">@Html.DisplayFor(model => skill.Name)</dd>
                <dd class="col-sm-3">@Html.DisplayFor(model => skill.Attribute)</dd>
                <dd class="col-sm-1">@Html.DisplayFor(model => skill.Skill)</dd>
                <dd class="col-sm-2">@Html.DisplayFor(model => skill.Complexity)</dd>
                <dd class="col-sm-3">@Html.DisplayFor(model => skill.Specialization)</dd>
            }
        </dl>
    </div>
    <div class="row">
        <dl class="row col-4">
            <h4 class="col-12">Stats</h4>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Agility)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Agility)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Build)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Build)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Creativity)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Creativity)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Fitness)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Fitness)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Influence)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Influence)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Influence)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Influence)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Knowledge)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Knowledge)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Perception)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Perception)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Psyche)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Psyche)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Willpower)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Willpower)</dd>
        </dl>

        <dl class="row col-4">
            <h4 class="col-12">Traits</h4>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Strength)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Strength)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Health)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Health)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.Stamina)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.Stamina)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.ArmedDamage)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.ArmedDamage)</dd>

            <dt class="col-sm-9">@Html.DisplayNameFor(model => model.Stats.UnarmedDamage)</dt>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.UnarmedDamage)</dd>
        </dl>

        <dl class="row col-4">
            <h4 class="col-12">Wounds</h4>

            <dt class="col-sm-6">Type</dt>
            <dt class="col-sm-3">Threshold</dt>
            <dt class="col-sm-3">Taken</dt>

            <dd class="col-sm-6">@Html.DisplayNameFor(model => model.Stats.FleshWound)</dd>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.FleshWound)</dd>
            <dd class="col-sm-3">@Model.Injuries.Where(x => x.InjuryType.Equals("Flesh") && !x.IsHealed).Select(x => x.Modifier).Sum()</dd>

            <dd class="col-sm-6">@Html.DisplayNameFor(model => model.Stats.DeepWound)</dd>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.DeepWound)</dd>
            <dd class="col-sm-3">@Model.Injuries.Where(x => x.InjuryType.Equals("Deep") && !x.IsHealed).Select(x => x.Modifier).Sum()</dd>

            <dd class="col-sm-6">@Html.DisplayNameFor(model => model.Stats.InstantDeath)</dd>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.InstantDeath)</dd>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.IsDead)</dd>

            <dd class="col-sm-6">@Html.DisplayNameFor(model => model.Stats.SystemShock)</dd>
            <dd class="col-sm-3">@Html.DisplayFor(model => model.Stats.SystemShock)</dd>
            <dd class="col-sm-3">@Model.Injuries.Where(x => !x.IsHealed).Select(x => x.Modifier).Sum()</dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
