﻿@model List<SillCo.Models.Characters.CharacterModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].XP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].IsDead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDead)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CharacterId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CharacterId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CharacterId })
        </td>
    </tr>
}

</table>
