﻿@using SillCo.Models.Equipment
@model Dictionary<string, List<Equipment>>

@{ 
    ViewBag.Title = "Equipment";
}

<div class="panel panel-default">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#tools" aria-controls="tools" role="tab" data-toggle="tab">Tools</a>
            </li>
            <li>
                <a href="#apparel" aria-controls="apparel" role="tab" data-toggle="tab">Apparel</a>
            </li>
            <li>
                <a href="#armor" aria-controls="armor" role="tab" data-toggle="tab">Armor</a>
            </li>
            <li>
                <a href="#medical" aria-controls="medical" role="tab" data-toggle="tab">Medical</a>
            </li>
            <li>
                <a href="#electrical" aria-controls="electrical" role="tab" data-toggle="tab">Electrical</a>
            </li>
            <li>
                <a href="#survival" aria-controls="survival" role="tab" data-toggle="tab">Survival</a>
            </li>
            <li>
                <a href="#misc" aria-controls="misc" role="tab" data-toggle="tab">Misc</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" id="tools">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Armor</th>
                            <th>Clpx</th>
                            <th>Notes</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var equip in Model["Tools"])
                        {
                            <tr>
                                <td>@equip.Name</td>
                                <td>@equip.Weight</td>
                                <td>@equip.Armor</td>
                                <td>@equip.Complexity</td>
                                <td>@equip.Note</td>
                                <td>@equip.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="apparel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Armor</th>
                            <th>Clpx</th>
                            <th>Notes</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var equip in Model["Apparel"])
                        {
                            <tr>
                                <td>@equip.Name</td>
                                <td>@equip.Weight</td>
                                <td>@equip.Armor</td>
                                <td>@equip.Complexity</td>
                                <td>@equip.Note</td>
                                <td>@equip.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="armor">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Armor</th>
                            <th>Clpx</th>
                            <th>Notes</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var equip in Model["Armor"])
                        {
                            <tr>
                                <td>@equip.Name</td>
                                <td>@equip.Weight</td>
                                <td>@equip.Armor</td>
                                <td>@equip.Complexity</td>
                                <td>@equip.Note</td>
                                <td>@equip.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="medical">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Armor</th>
                            <th>Clpx</th>
                            <th>Notes</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var equip in Model["Medical"])
                        {
                            <tr>
                                <td>@equip.Name</td>
                                <td>@equip.Weight</td>
                                <td>@equip.Armor</td>
                                <td>@equip.Complexity</td>
                                <td>@equip.Note</td>
                                <td>@equip.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="electrical">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Armor</th>
                            <th>Clpx</th>
                            <th>Notes</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var equip in Model["Electrical"])
                        {
                            <tr>
                                <td>@equip.Name</td>
                                <td>@equip.Weight</td>
                                <td>@equip.Armor</td>
                                <td>@equip.Complexity</td>
                                <td>@equip.Note</td>
                                <td>@equip.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="survival">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Armor</th>
                            <th>Clpx</th>
                            <th>Notes</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var equip in Model["Survival"])
                        {
                            <tr>
                                <td>@equip.Name</td>
                                <td>@equip.Weight</td>
                                <td>@equip.Armor</td>
                                <td>@equip.Complexity</td>
                                <td>@equip.Note</td>
                                <td>@equip.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="misc">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Armor</th>
                            <th>Clpx</th>
                            <th>Notes</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var equip in Model["Misc"])
                        {
                            <tr>
                                <td>@equip.Name</td>
                                <td>@equip.Weight</td>
                                <td>@equip.Armor</td>
                                <td>@equip.Complexity</td>
                                <td>@equip.Note</td>
                                <td>@equip.Cost</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>