﻿@model List<SillCo.Models.Pathfinder.CreatureCardModel>
@{
    ViewBag.Title = "IndexView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Cards</h2>

<div class="card-deck" style="">
    @foreach (var card in Model) {
        if (card.Order == 1)
        {
            <div class="card" style="position: absolute;">
                <button type="button" id="b1">Change Stack</button>
                <div class="card-block">
                    <h4 class="card-title">@card.Name</h4>
                    <p class="card-text">@card.Base</p>
                    <h5 class="card-subtitle">DEFENSE</h5>
                    <p class="card-text">@card.Defense</p>
                    <h5 class="card-subtitle">OFFENSE</h5>
                    <p class="card-text">@card.Offenes</p>
                    <h5 class="card-subtitle">STATISTICS</h5>
                    <p class="card-text">@card.Statistics</p>
                    <h5 class="card-subtitle">MORAL</h5>
                    <p class="card-text">@card.Moral</p>
                </div>
            </div>
        }
        else
        {
            <div class="card" style="position: absolute; display: none;">
                <button type="button" id="b1">Change Stack</button>
                <div class="card-block">
                    <h4 class="card-title">@card.Name</h4>
                    <p class="card-text">@card.Base</p>
                    <h5 class="card-subtitle">DEFENSE</h5>
                    <p class="card-text">@card.Defense</p>
                    <h5 class="card-subtitle">OFFENSE</h5>
                    <p class="card-text">@card.Offenes</p>
                    <h5 class="card-subtitle">STATISTICS</h5>
                    <p class="card-text">@card.Statistics</p>
                    <h5 class="card-subtitle">MORAL</h5>
                    <p class="card-text">@card.Moral</p>
                </div>
            </div>
        }
    }
</div>


@*<script>
    $("button").click(function () {
        var n = $("div").length;
        $(".card").each(function (i) {
            if (Number(this.style.zIndex) === 2) {
                this.style.zIndex = 0;
            } else {
                this.style.zIndex = Number(this.style.zIndex) + 1;
            }
        })
    });
</script>*@